h1 {
    color: rgb(7, 68, 142);
    margin-left: 20px;
}

h2 {
    color: rgb(7, 68, 142);
}

h3 {
    color: rgb(7, 68, 142);
}

ul > li {
    margin-left: 10px;
}

ul:last-of-type {
    list-style-position: inside;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

.main-container {
    display: flex;
}
  
.left-image {
    flex: 0 1 auto;
}
  
.right-text {
    flex: 1 1 auto;
}

ul.nav-bar {
    list-style-type: none;
    display: inline;
}

li.nav-bar {
    float:left;
    padding: 0px 16px;
}